
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
	<h1>Add A New Contact</h1>
	<h5>What goes around, comes around. Thanks for contributing information, it will be a great help!</h5>
	<%= render 'form' %></div>
  <div class="col-md-4"></div>
</div>